comet_ml
fasttext
langchain
langchain_core
langchain_google_genai
langchain_openai
matplotlib
numpy
openai
optuna
pandas
protobuf
psutil
python-dotenv
regex
scikit_learn
seaborn
setuptools
tenacity
tomli
torch
tqdm
transformers
